@import '../Main/mixin';

.toolbar__container--max-width {
    @include screen-max-width(940px);
    @include display-flex(center,space-around);
    height: 100px;
}

@media (max-width:767px) {
    .toolbar__container--max-width {
        width: 100%;
        height: 80px;
        background-color: lightblue;
    }
}