@import '../../Container/Main/base-color';
@import '../../Container/Main/mixin';

.shoppingCar__container {
    height: 100%;
    @include display-flex(center,space-around);
    p {
        padding: 30px 40px;
        color: $base_color3;
        cursor: pointer;
        &:hover {
            color: $base_color1;
            background-color: $base_color3;
        }
    }
}